
/* -------------------------------------------------------------------navbar--------------------------------------------------------------- */

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.search{
    background-color: #EAEBF0;
    outline: none;
    border: none;
}

body{
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;

}

nav{
    background-color: white;
}

.border_radius{
    border-radius: 10px;
}
.width{
    width: 15%;
}
.outline{
    outline: none;
}
.width2{
    width: 15%;
}

.white{
    background-color: white;
}

@media screen and (max-width:786px) {

    .b-post{
        position: absolute;
        bottom: 40px;
        right: 10px;
    }
    
}


.grey{
    color: #383838;
}

.dark_grey{
    background-color:#ced0d6 ;
}

.color{
    background-color: #1f79ff;
}

.blue:hover{
    color: #1f79ff;
    cursor: pointer;
}

.blue{
    transition: 0.3s;
}

.text{
    color: rgb(119, 118, 118);
    font-size: 15px;
}
.button_post{
    transition: 0.3s;
    color: white;
}

.button_post:hover{
    box-shadow: rgb(136, 135, 135) 0px 2px 5px 0px;
    
}

.button_save{
    transition: 0.3s;
    background-color: white;
}

.button_save:hover{
    background-color: #1f79ff;
    color: white;
    border:#1f79ff 2px solid ;
}

.search_icon{
    top: 12px;
    color: rgb(128, 127, 127);
}

.width30{
    width: 35%;
}
.icon{
    color:#F6B800;
    color: black;
    background-color: #EAEBF0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;

}

textarea{
    resize: none;
    overflow: auto;
    border: none;
    border-bottom: rgb(163, 163, 163) 1px solid;
    width: 88%;
    
}

.heart{
    color: #F44747;
}
.heart:hover{
    color: #F44747;
}

.comment{
    color: #e8e8e9;
    text-shadow: 0px 0px 1px black;
}

i{
    transition: 0.3s;
}

i:hover{
    cursor: pointer;
}

.max_height{
    height: 600px;
}

@media screen and (max-width:1100px){
    h6{
        font-size: 13px;
    }

}

button{
    text-overflow: ellipsis;
}

.secondary{
    color:#6c757d;
}

.secondary:hover{
    color: #0d6efd;
    cursor: pointer;
}

.trash{
    right: 20px;
}

.trash2{
    right: 50px;
}

nav{
    z-index: 1000;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.fff{
    color:rgba(0,0,0,0.9);
    margin-left: 10px;
    line-height: inherit!important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}